*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #8276C8;
  overflow: hidden;
}

.App { text-align: center; }

span { display: inline-block; }
li { list-style: none; }
textarea { resize: none; }

.todo-form {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.todo-form > * > * {
  padding: 7px 10px;
  font-size: 16px;
}

.todo-form > *:last-child > * {
  margin-left: 15px;
  cursor: pointer;
}

.task-status-control {
  display: flex;
  justify-content: center;
}

.task-status-control > * {
  padding: 7px 20px;
  border: 2px solid #222;
  border-radius: 20px;
  margin: 0 7px;
  color: #222;
  cursor: pointer;
  text-transform: capitalize;
  transition: all .3s;
}

.task-status-control > *.active {
  background-color: #222;
  color: #ddd;
}

.todo-items-all {
  padding: 30px 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.todo-item {
  max-width: 290px;
  width: 290px;
  padding: 15px;
  border: 1px solid #222;
  border-radius: 5px;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: left;
  animation: slide 1s ease-in-out forwards;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
  }
  70% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

.completed-flag {
  padding: 0 3px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ddd;
  color: #1d5c10;
  font-size: 18px;
  font-weight: 600;
}

.form-todo-update {
  max-height: 66px;
  height: 66px;
  overflow: hidden;
}

.form-todo-update > * { height: 100%; }
.input-textarea { display: none; }

.input-textarea > * {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  display: block;
  overflow-y: auto;
  outline: none;
  scrollbar-width: thin;
}

.input-textarea > *::-webkit-scrollbar { width: 8px; }
.input-textarea > *::-webkit-scrollbar-track { background-color: #222; }
.input-textarea > *::-webkit-scrollbar-thumb {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #222;
}

.textarea-para { padding: 5px; }

.todo-item.active .input-textarea { display: block; }
.todo-item.active .textarea-para { display: none; }

.todo-items-control {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

.todo-items-control > * {
  padding: 5px;
  cursor: pointer;
}